
.link-etherscan {
    height: 21px;
    left: 4rem;
    position: relative;
    top: 15px;
    width: 100px;
  }

  .nav {
    height: 54px;
    width: 100%;
  }

  .header2{
    border-bottom-style: solid;
    border-bottom-width: 0.3px;
    border-color: #273343;
    background-color:#1a1b1e;
    border-left-style: none;
    border-right-style: none;
    border-top-style: none;
    box-shadow: 0px 2px 4px #97a4af0d; 
    left: 0;
    position: sticky; 
    top:0;
    width: 100%;
    z-index: 290;
  }